<form action="signup" method="post">
    <input type="text" id="first-name" placeholder="Enter first name" />
    <input type="text" id="last-name" placeholder="Enter last name" />
    <input type="email" id="email" placeholder="Enter email" />
    <input type="submit" id="submit" value="submit form" />
</form>