<nav id='side-nav' class='closed'>
    <br><br><br><br>
    <a class='icon-container' id='opener' href='#' accesskey="N" >
        <img src='/img/icons/hamburger.png' alt="navigation toggler">
        <p>Close Menu</p>
    </a>
    <a class='icon-container' id='opener-mobile' href='#' accesskey="N" >
        <img src='/img/icons/hamburger-mobile.png' alt="navigation toggler mobile">
        <p>Close Menu</p>
    </a>
    <br><br>
    <a class='icon-container' href='/' accesskey="H" >
        <img src='/img/icons/home.png' alt="home button">
        <p>Home Page</p>
    </a>
    <br><br>
    <a class='icon-container' href='/#chapters' accesskey="C" >
        <img src='/img/icons/chapter.png' alt="chapter selection button">
        <p>Chapter Selection</p>
    </a>
    <br><br>
    <a class='icon-container' href='/site/signup' accesskey="I" >
        <img src='/img/icons/signup.png' alt="sign up button">
        <p>Sign Up</p>
    </a>
    <br><br>
    <a class='icon-container' href='/site/team' accesskey="T" >
        <img src='/img/icons/team.png' alt="team information button">
        <p>The Team</p>
    </a>
</nav>