/* Styling for input fields on Panels and Usage pages */

/* || Data Row Inout styling */
/* data-row center column for area as has special unit */
.data-input-area {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	width: 35%;
}

.data-input-area p{
	font-size: 5vw;
}

/* data-row center column for degrees as has special unit */
.data-input-degrees {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 35%;
}

.data-input-degrees p {
	font-size: 5vw;
}

/* || Number Pad styling */
#numpad-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#numpad-container .numpad-digit {
	width: 30%;
	font-size: 10vw;
	background-color: rgba(var(--bg-light-blue), 1);
	border: none;
	border-radius: 5%;
	text-align: center;
	color: rgba(var(--main-blue), 1);
	margin: 1%;
	padding: 2%;
}

#numpad-container .numpad-digit:active {
	background-color: rgba(var(--bg-med-blue), 1);
}

.numpad-update:active {
	opacity: 0.2;
}

.numpad-update, .send {
	background-color: transparent;
	border: none;
}

/* || Input box styling */
.update-input {
	width: 60%;
	padding: 5%;
	font-size: 10vw;
	background-color: rgba(var(--bg-light-blue), 1);
	border: none;
	border-radius: 5%;
	text-align: center;
	color: rgba(var(--main-blue), 1);
}

/* Last to ensure applied */
.active {
	border: 0.8vw solid rgba(var(--border-blue), 1);
}