/* Styling for daily and hourly views */

/* || Arrows */
.arrow_drop_down {
	color: red;
}

.arrow_drop_up {
	color: green;
}

/* || Horizonal weather scroll */
.day, .hour {
	display:inline-block;
	width:30%;
	text-align:center;
	background-color: rgba(var(--bg-lightest-blue), 1);
	border: 2vw solid rgba(var(--border-light-blue), 1);
	margin-right: 2%;
}

.day a, .hour a {
	color: rgba(var(--main-blue), 1);
}

/* Enable horizonal scroll */
#days-list, #hours-list {
	white-space:nowrap;
	overflow-y: hidden;
}

.weatherIcon {
	font-size: 15vw;
}

/* Remove scroll bars */
::-webkit-scrollbar{
	display: none;
}

.selected {
	border: 2vw solid rgba(var(--border-blue), 1);
}